/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
*,
html {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
body {
  background-color: #fafafe;
}
a {
  text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.body-blackout {
  display: none;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.App {
  display: flex;
  position: relative;
}
.viewport {
  width: 100%;
  margin-left: 9.4rem;
  padding: 2.77rem 9rem 0 8rem;
}
.sidebar {
  top: 0;
  right: 0%;
  height: 100vh;
  max-height: 100vh;
  min-width: 38.9rem;
  max-width: 38.9rem;
}
.navigation {
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 9.4rem;
  padding: 5.2rem 0 3.48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navigation .nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navigation .nav-links .nav-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 5rem;
}
.navigation .nav-links .nav-link:hover .tooltip {
  display: flex;
}
.navigation .nav-links .active-tab-indicator {
  width: 0.6rem;
  height: 4.5rem;
  border-radius: 0 4px 4px 0;
}
.navigation .nav-links .active {
  background-color: #f9a109;
}
.navigation .nav-links .material-icons,
.navigation .nav-links .material-icons-outlined {
  padding-left: 2.7rem;
  color: #454545;
}
.navigation .nav-links .tooltip {
  position: absolute;
  left: 80%;
  display: none;
  align-items: center;
  max-height: 2.1rem;
}
.navigation .nav-links .tooltip .arrow-left {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 5px solid #454545;
}
.navigation .nav-links .tooltip span {
  font-size: 1.2rem;
  color: white;
  background-color: #454545;
  padding: 0.3rem 1.6rem;
  border-radius: 4px;
}
.navigation .shopping-list-btn {
  position: relative;
  border: none;
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  background-color: #f9a109;
  cursor: pointer;
}
.navigation .shopping-list-btn .badge {
  position: absolute;
  top: -10%;
  left: 65%;
  font-size: 1.2rem;
  color: white;
  height: 2rem;
  padding: 0.25rem 0.68rem;
  background-color: #eb5757;
  border-radius: 4px;
}
.navigation .shopping-list-btn span {
  color: white;
}
.shopping-list {
  position: relative;
  background-color: #fff0de;
  height: 100%;
  width: 100%;
  padding: 4.3rem 3rem 0 4rem;
}
.shopping-list .add-item-cta {
  position: relative;
  background-color: #80485b;
  padding: 1.8rem 0;
  padding-right: 2.7rem;
  border-radius: 24px;
  margin-bottom: 4.3rem;
}
.shopping-list .add-item-cta svg {
  position: absolute;
  top: -14%;
  left: 3.5%;
}
.shopping-list .add-item-cta div {
  display: flex;
  flex-direction: column;
  margin-left: 12.2rem;
}
.shopping-list .add-item-cta p {
  font-weight: 700;
  font-size: 1.6rem;
  color: white;
  margin-bottom: 1.3rem;
  line-height: 2rem;
}
.shopping-list .add-item-cta button {
  font-weight: 700;
  font-size: 1.4rem;
  color: #34333a;
  background-color: white;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 12px;
  padding: 1.1rem 2.9rem;
  width: 12rem;
  cursor: pointer;
}
.shopping-list .no-items {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #34333a;
  margin-top: 22rem;
}
.shopping-list .shopping-svg {
  position: absolute;
  bottom: 13%;
  z-index: 1;
  margin-left: 2.4rem;
}
.shopping-list .item-list {
  max-height: 59%;
  overflow: auto;
  padding-right: 1rem;
}
.shopping-list .item-list::-webkit-scrollbar {
  width: 4px;
}
.shopping-list .item-list::-webkit-scrollbar-thumb {
  border-radius: 24px;
  height: 68px;
  background: #b2b2b2;
}
.shopping-list .item-list::-webkit-scrollbar-track {
  margin: 20px;
  border-radius: 24px;
  background: white;
}
.shopping-list .item-list h3 {
  font-size: 1.4rem;
  color: #828282;
  margin-bottom: 1.5rem;
}
.shopping-list .shopping-list-header {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  font-weight: 700;
  color: #34333a;
  margin-bottom: 3.9rem;
}
.shopping-list .list-category {
  margin-bottom: 4.4rem;
}
.shopping-list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.shopping-list .list-item div {
  display: flex;
  align-items: center;
}
.shopping-list .list-item p {
  font-size: 1.8rem;
  font-weight: 600;
}
.shopping-list .list-options {
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3.4rem 3.9rem;
}
.shopping-list .list-options button {
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.shopping-list .list-options .cancel-btn {
  color: #34333a;
  background-color: transparent;
}
.shopping-list .list-options .complete-btn {
  color: white;
  background-color: #56ccf2;
  padding: 1.85rem 2.1rem;
  border-radius: 12px;
}
.shopping-list .list-btns {
  display: flex;
  justify-content: space-evenly;
}
.shopping-list .form--disabled {
  pointer-events: none;
}
.shopping-list .form--disabled input {
  border: 2px solid #c1c1c4;
}
.shopping-list .form--disabled button {
  background-color: #c1c1c4;
}
.shopping-list form {
  position: relative;
}
.shopping-list form input {
  width: 100%;
  padding: 2.1rem 0;
  padding-left: 1.7rem;
  border: 2px solid #f9a109;
  border-radius: 12px;
  font-size: 1.4rem;
}
.shopping-list form input::placeholder {
  color: #bdbdbd;
}
.shopping-list form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  color: white;
  background-color: #f9a109;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2rem 2.45rem;
  border: none;
  border-radius: 12px;
}
.items-page header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.7rem;
}
.items-page h2 {
  margin-top: 1rem;
  width: 45.1rem;
  line-height: 3.25rem;
  font-size: 2.6rem;
  color: #34333a;
  font-weight: 700;
}
.items-page .highlight {
  color: #f9a109;
}
.items-page .item-search {
  position: relative;
  display: flex;
  align-items: center;
}
.items-page .item-search span {
  position: absolute;
  left: 8%;
  color: #34333a;
}
.items-page .item-search input {
  font-size: 1.4rem;
  width: 27.5rem;
  padding: 1.65rem;
  padding-left: 6rem;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 12px;
}
.items-page .item-search input::placeholder {
  color: #bdbdbd;
}
.history-page h2 {
  font-size: 2.6rem;
  font-weight: 700;
  color: #34333a;
  margin: 1rem 0 4rem;
}
.history-page h3 {
  font-size: 1.2rem;
  margin-bottom: 1.7rem;
}
.history-page .month {
  margin-bottom: 5.4rem;
}
.history-list-page {
  margin-top: 1.2rem;
}
.history-list-page a {
  display: flex;
  align-items: center;
  color: #f9a109;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.history-list-page .arrow {
  transform: rotate(180deg);
  margin-right: 0.6rem;
}
.items-list .category {
  margin-bottom: 4.75rem;
}
.items-list .category h3 {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  font-weight: 600;
}
.items-list .items {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1.9rem;
  row-gap: 2.75rem;
}
.items-list .item {
  align-self: start;
  width: 18.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1.5rem 1.75rem 1.5rem 1.6rem;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  cursor: pointer;
}
.items-list .item span {
  color: #c1c1c4;
}
.add-item-form {
  padding: 3.4rem 4rem 3.4rem 3.8rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.add-item-form h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.37rem;
}
.add-item-form .fields {
  width: 100%;
}
.add-item-form .field {
  display: flex;
  flex-direction: column;
}
.add-item-form .field .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.add-item-form .field span {
  position: absolute;
  right: 5%;
  color: #828282;
  cursor: pointer;
}
.add-item-form .field #name {
  margin-bottom: 1.8rem;
}
.add-item-form .field #note {
  margin-bottom: 2.4rem;
}
.add-item-form .field #image {
  margin-bottom: 3.3rem;
}
.add-item-form label {
  font-size: 1.4rem;
  color: #34333a;
  margin-bottom: 0.6rem;
  font-weight: 600;
}
.add-item-form input,
.add-item-form textarea {
  width: 100%;
  padding: 2.1rem 1.7rem;
  padding-right: 4rem;
  border: 2px solid #bdbdbd;
  border-radius: 12px;
}
.add-item-form input::placeholder,
.add-item-form textarea::placeholder {
  color: #bdbdbd;
}
.add-item-form textarea {
  resize: none;
  height: 11rem;
}
.add-item-form .field--focused label {
  color: #f9a109;
}
.add-item-form .field--focused input,
.add-item-form .field--focused textarea {
  border-color: #f9a109;
  outline: none;
}
.add-item-form .field--focused span {
  display: block;
}
.add-item-form .category-list {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  padding: 1.2rem 0.8rem;
  margin-top: 1.2rem;
}
.add-item-form .category-list button {
  font-size: 1.8rem;
  width: 100%;
  text-align: start;
  color: #828282;
  background-color: white;
  padding: 1.2rem 2.2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.add-item-form .category-list button:hover {
  color: #34333a;
  background-color: #f2f2f2;
}
.add-item-form .form-btns button {
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.add-item-form .save-btn {
  color: white;
  background-color: #f9a109;
  border-radius: 12px;
  padding: 2rem 2.5rem;
  margin-left: 2rem;
}
.add-item-form .cancel-btn {
  background-color: transparent;
  margin-right: 2rem;
}
.item-description {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 2.7rem 4.4rem 3.4rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.item-description .back-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 3.4rem;
  color: #f9a109;
  cursor: pointer;
}
.item-description .back-btn span {
  transform: rotate(180deg);
  margin-right: 0.65rem;
}
.item-description .img-wrapper {
  width: 100%;
  min-height: 22rem;
  background-color: #fafafe;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 5.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.item-description .img-wrapper img {
  max-width: 100%;
}
.item-description .detail-name {
  color: #c1c1c4;
  font-size: 1.2rem;
  margin-bottom: 1.15rem;
}
.item-description p {
  font-size: 1.8rem;
  font-weight: 600;
}
.item-description .item-name {
  font-size: 2.4rem;
  margin-bottom: 3.3rem;
  text-transform: capitalize;
}
.item-description .item-category {
  margin-bottom: 3.6rem;
}
.item-description .item-note {
  margin-bottom: 3.4rem;
  line-height: 2.25rem;
}
.item-description .btns {
  display: flex;
  margin: 0 auto;
}
.item-description .btns button {
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.item-description .btns .delete-btn {
  color: #34333a;
  background-color: transparent;
  margin-right: 2.2rem;
}
.item-description .btns .add-btn {
  color: white;
  background-color: #f9a109;
  border-radius: 12px;
  padding: 2rem 2.5rem;
  margin-left: 2.2rem;
}
.item-count {
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.item-count .count-btn {
  color: #f9a109;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid #f9a109;
  border-radius: 24px;
  padding: 0.8rem 2rem;
  max-width: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-count .count-btn .count-number {
  font-weight: 700;
  margin-right: 0.4rem;
}
.item-count .delete-item-btn,
.item-count .change-count-btn {
  display: none;
}
.item-count--active {
  background-color: white;
  padding: 0.645em 0.9em;
  padding-left: 5em;
  border-radius: 12px;
  min-width: 17.3rem;
  width: 17.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.item-count--active .delete-item-btn,
.item-count--active .change-count-btn,
.item-count--active button {
  display: flex;
  align-items: center;
}
.item-count--active .delete-item-btn {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #f9a109;
  cursor: pointer;
}
.item-count--active .change-count-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
.item-count--active .count-btn {
  margin: 0 0.5rem;
}
.item-count--active .icon {
  color: #f9a109;
}
.delete-list-modal {
  display: none;
  position: absolute;
  margin: 0 auto;
  z-index: 3;
  width: 50rem;
  height: 21.9rem;
  background-color: white;
  border-radius: 24px;
  margin: auto;
  inset: 0;
  padding: 3rem;
}
.delete-list-modal button {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;
}
.delete-list-modal .close-btn {
  color: #828282;
  position: absolute;
  right: 4%;
  top: 7%;
}
.delete-list-modal p {
  color: #34333a;
  font-size: 2.4rem;
  font-weight: 600;
  width: 90%;
  margin-bottom: 4rem;
  line-height: 3rem;
}
.delete-list-modal .btns {
  text-align: end;
}
.delete-list-modal .cancel-btn {
  color: #34333a;
  margin-right: 1.28rem;
  padding: 0;
}
.delete-list-modal .delete-btn {
  color: white;
  font-weight: 700;
  background-color: #eb5757;
  border-radius: 12px;
  padding: 2rem 3rem;
  margin-left: 1.28rem;
}
.checkbox {
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  border: 2px solid #f9a109;
  border-radius: 4px;
  cursor: pointer;
}
.checkbox span {
  display: none;
  color: #f9a109;
  font-size: 2rem;
}
.checked span {
  display: block;
}
.history-item {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-bottom: 2.8rem;
  padding: 1.9rem 2rem;
  cursor: pointer;
}
.history-item .name {
  font-size: 1.9rem;
  font-weight: 600;
}
.history-item div {
  display: flex;
  align-items: center;
  width: 25%;
}
.history-item div span {
  color: #c1c1c4;
}
.history-item div .calendar {
  margin-right: 1.3rem;
}
.history-item div .date {
  font-size: 1.4rem;
  margin-right: 2.5rem;
}
.history-item div .status {
  font-size: 1.2rem;
  border: 1px solid;
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history-item .chevron {
  color: #f9a109;
  font-size: 3rem;
}
.history-list h2 {
  font-size: 2.6rem;
  font-weight: 700;
  color: #34333a;
  margin-bottom: 2rem;
}
.history-list .date {
  display: flex;
  align-items: center;
  color: #c1c1c4;
  font-size: 1.2rem;
  margin-bottom: 5.4rem;
}
.history-list .calendar {
  margin-right: 1.3rem;
}
.history-list .category {
  margin-bottom: 6.4rem;
}
.history-list .category h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.history-list .category .items {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1.9rem;
  row-gap: 2.75rem;
}
.history-list .category .item {
  align-self: start;
  width: 18.2rem;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 1.7rem;
  line-height: 2rem;
}
.history-list .category .item-name {
  font-size: 1.6rem;
  font-weight: 600;
}
.history-list .category .item-count {
  color: #f9a109;
  font-size: 1.2rem;
  width: 3.5rem;
}
