* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

*,
html {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

body {
  background-color: #fafafe;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
