* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

*,
html {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

body {
  background-color: #fafafe;
}

a {
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  display: flex;
}

.viewport {
  width: 100%;
  margin-left: @nav-width;
  // margin-right: @sidebar-width;
  padding: 2.77rem 9rem 0 8rem;
}

.sidebar {
  // position: fixed;
  top: 0;
  right: 0%;
  height: 100vh;
  max-height: 100vh;
  min-width: @sidebar-width;
  max-width: @sidebar-width;
}

