.shopping-list {
  position: relative;
  background-color: #fff0de;
  // height: 100%;
  // width: 20%;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  padding: 4.3rem 3rem 0 4rem;

  .add-item-cta {
    position: relative;
    background-color: #80485b;
    padding: 1.8rem 0;
    padding-right: 2.7rem;
    border-radius: 24px;
    margin-bottom: 4.3rem;
    @media @laptop {
padding-right: 1.2rem;
    }
    

    svg {
      position: absolute;
      top: -14%;
      left: 3.5%;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-left: 12.2rem;
      @media @laptop {
        margin-left: 10rem;
      }
    }

    p {
      font-weight: 700;
      font-size: 1.6rem;
      color: white;
      margin-bottom: 1.3rem;
      line-height: 2rem;
    }

    button {
      font-weight: 700;
      font-size: 1.4rem;
      color: @text-dark;
      background-color: white;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
      border: none;
      border-radius: 12px;
      padding: 1.1rem 2.9rem;
      width: 12rem;
      cursor: pointer;
    }
  }

  .no-items {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: @text-dark;
    margin-top: 22rem;
  }

  .shopping-svg {
    position: absolute;
    bottom: 13%;
    z-index: 1;
    margin-left: 2.4rem;
  }

  .item-list {
    max-height: 59%;
    overflow: auto;
    padding-right: 1rem;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 24px;
      height: 68px;
      background: #b2b2b2;
    }
    &::-webkit-scrollbar-track {
      margin: 20px;
      border-radius: 24px;
      background: white;
    }

    h3 {
      font-size: 1.4rem;
      color: #828282;
      margin-bottom: 1.5rem;
    }
  }

  .shopping-list-header {
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
    font-weight: 700;
    color: @text-dark;
    margin-bottom: 3.9rem;
  }

  .list-category {
    margin-bottom: 4.4rem;
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    div {
      display: flex;
      align-items: center;
    }

    p {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .list-options {
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 3.4rem 3.9rem;

    button {
      font-size: 1.6rem;
      font-weight: 700;
      border: none;
      cursor: pointer;
    }

    .cancel-btn {
      color: @text-dark;
      background-color: transparent;
    }

    .complete-btn {
      color: white;
      background-color: #56ccf2;
      padding: 1.85rem 2.1rem;
      border-radius: 12px;
    }
  }

  .list-btns {
    display: flex;
    justify-content: space-evenly;
  }

  .form--disabled {
    pointer-events: none;

    input {
      border: 2px solid #c1c1c4;
    }

    button {
      background-color: #c1c1c4;
    }
  }

  form {
    position: relative;

    input {
      width: 100%;
      padding: 2.1rem 0;
      padding-left: 1.7rem;
      border: 2px solid @yellow;
      border-radius: 12px;
      font-size: 1.4rem;
      &::placeholder {
        color: #bdbdbd;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      color: white;
      background-color: @yellow;
      font-size: 1.6rem;
      font-weight: 700;
      padding: 2rem 2.45rem;
      border: none;
      border-radius: 12px;
    }
  }
}
